<!-- THis file is remaining for editing -->

<div class="footer">
  <div>
    <h3 class="logo">CRAVE NEST</h3>
    <p>Copyright © 2024 Food Ordering. All Rights Reserved.</p>
    <p>IT Park Super Corridor,</p>
    <p style="margin-top: -15px">Indore 455555</p>
    <p>foodie@cravenest.com</p>
  </div>
  <div class="elements">
    <h5 style="color: #37b7c3">Products</h5>
    <p>Veg Food</p>
    <p>Non-veg Food</p>
    <p>Italian</p>
    <p>Chinese</p>
    <p>Indian</p>
    <p>Japanese</p>
  </div>
  <div class="elements">
    <h5 style="color: #37b7c3">Resources</h5>
    <p>About Us</p>
    <p>Contact Us</p>
    <p>Partners</p>
    <p>Terms & Conditions</p>
    <p>Privacy Policy</p>
    <p>Refund & Return Policy</p>
  </div>
  <div>
    <h5 style="color: #37b7c3">Follow Us</h5>
    <div class="social">
      <a href=""><i class="fa-brands fa-instagram fa-2x"></i></a>
      <a href=""><i class="fa-brands fa-facebook fa-2x"></i></a>
      <a href=""><i class="fa-brands fa-x-twitter fa-2x"></i></a>
      <a href=""><i class="fa-brands fa-pinterest fa-2x"></i></a>
    </div>
  </div>
</div>
