

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<section class="first">
    <div class="AboutPage">
        <div class="container">
            <div class="About">
                <h1>ABOUT</h1>
            </div>
            <div class="Website">
                <h1>OUR WEBSITE</h1>
            </div>

            <div class="content">
                <p>Welcome to CRAVE NEST, your ultimate destination for delicious meals delivered straight to your door! </p>
            </div>
        </div>
    </div>
</section>


<section class="second">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="count"> 
                    <div class="icon"><i class="bi bi-people"></i></div>
                    <div class="font">200+</div>
                </div>
                <div class="text">People visited our Website </div>
                <div class="text"></div>
            </div>

            <div class="col-sm-3">
                <div class="count"> 
                    <div class="icon"><i class="bi bi-house"></i></div>
                    <div class="font">160+</div>
                </div>
                <div class="text">Places we have delivered </div>
                <div class="text"></div>
            </div>

            <div class="col-sm-3">
                <div class="count"> 
                    <div class="icon"><i class="bi bi-geo-alt"></i></div>
                    <div class="font">25+</div>
                </div>
                <div class="text">Cities around the Country </div>
               
            </div>

            <div class="col-sm-3">
                <div class="count"> 
                    <div class="icon"><i class="bi bi-people"></i></div>
                    <div class="font">1000+</div>
                </div>
                <div class="text">People Work with Us</div>
                <div class="text"></div>              
            </div>
           
          </div>
    </div>
</section>

<section class="third">
    <div class="container">
        <div class="team">
            <h1>TEAM</h1>
        </div>
        <div class="professional">
            <h1>OUR PROFESSIONAL</h1>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                   <img src="..\..\assets\Images\Utkarsh.jfif" alt="">
                   <div class="name"><p>UTKARSH JHARIYA</p></div>
                </div>
               
            </div>

            <div class="col-sm-3 simon">
                <div class="card">
                    <img src="..\..\assets\Images\Simon.jfif" alt="">
                    <div class="name"><p>SIMON WADHWANI</p></div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <img src="..\..\assets\Images\Raj.jfif" alt="">
                    <div class="name"><p>RAJ KARAN</p></div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <img src="..\..\assets\Images\Jitika.jfif" alt="">
                    <div class="name"><p>JITIKA JOSHI</p></div>
                </div>
            </div>
        </div>
    </div>
</section>