/* Styling for restaurant images */
.restaurant-image {
  width: 350px;
  height: 220px;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 25px;
  margin: 30px;
}

.card{
  background-color: rgb(248, 246, 244);
}

/* Hover effect for restaurant images */
.restaurant-image:hover {
  transform: scale(1.1);
}

/* Card hover effect */
.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn{
  margin-left: 30px;
  font-size: 14px;
}

/* Button hover effects */
.btn-outline-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #f8f9fa;
}


/* Animation effects for hover buttons */
.btn-outline-primary, .btn-outline-danger {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Focus effect on input elements inside the edit form */
input:focus {
  border-color: #5cb85c;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

/* Fancy transition for the edit and delete buttons */
button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
